.box_header {
    width: 100%;
    height: 100px;
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 100px grey;
}

.logo img {
    width: 250px;
}

.header {
    font-size: 12px;
    color: var(--color-text-header);
}

.login button {
    border-radius: unset;
    border-color: var(--color-text-header);
    margin-right: 30px;
    color: white;
    background-color: var(--color-text-header);
}


/* menu */


/* banner */

.box_banner {
    margin-top: 35px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-banner);
}

.infomation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: azure; */
}

.vnu {
    font-size: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    margin-top: 50px;
    padding: 0px 0px;
    height: 100px;
}

.time_dk {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}


/* main*/

.main {
    margin-top: 35px;
    width: 100%;
    height: auto;
}

.box_left {
    width: 100%;
}

.view_container {
    width: 97%;
    height: auto;
    background-color: white;
    margin: 0px auto;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


/* .thanh_thong_tin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    /* margin-top: 20px; */

background-color: aqua;
border-radius: 5px 5px 0px 0px;

}
*/ .header_mon {
    width: 100%;
    list-style: none;
    font-weight: 900;
    margin: auto 0px;
    justify-items: center;
    border-right: 1px solid white;
    text-align: center;
    padding: 6px 0px;
}
.header_mon:last-child {
    border-right: none;
    margin-right: 10px;
}
.list_mon {
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    overflow-x: unset;
}
.mon_hoc {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: yellow;
    list-style: none;
}
.box_right {
    width: 97%;
    margin: auto;
}
.list_course {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: chocolate;
    height: 40%;
}
.view_heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #49BF67;
    height: 80px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row h3 {
    font-size: 30px;
    color: #fff;
    /* height: 40px; */
    
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.col-xs-6 {
    height: 40px;
    width: 50%;
    padding: 0px 15px;
}
.mon_dk {
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    overflow-x: unset;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table_list thead tr th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 8px;
    border-bottom-width: 2px;
    text-align: left;
}
.table_list tbody tr td {
    border: 1px solid #ddd;
    line-height: 34px;
    padding: 8px;
    border-bottom-width: 2px;
}
.table_list {
    width: 100%;
    max-width: 100%;
}
.panel_heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #191cc9;
    height: 40px;
}
.panel_heading h3 {
    font-size: 16px;
    color: #fff;
    /* height: 40px; */
    /*     
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0px; */
}
.submit {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.submit h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 70px;
}
.submit input {
    background-color: #49BF67;
    color: white;
    width: 85px;
    padding: 5px 10px;
    margin-right: 70px;
}
.item {
    width: 100%;
}
.submit input:hover {
    background-color: #00803d;
    cursor: pointer;
}