/* top bar */
.top_bar{
    height: 30px;
    background-color: #485460;
}
/* header */
.box_header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 250px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-text-header);
}

.user button {
    border-radius: 5px;
    height: 30px;
    border-color: var(--color-text-header);
    margin: 0px 80px;
    color: white;
    background-color: var(--color-text-header);
}

/* menu */

/* banner */
.banner {
    margin: 20px 0px;
}
/* main*/
    /* main body */
.main_body{
    width: 80%;
    margin: 20px auto;
}
.main {
    min-height: 100%;
    width: 100%;
    height: auto;
}

.box_left {
    width: 100%;
    left: 100px;
}

.view_container {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0px auto;
    border-radius: 5px;
}

.header_mon {
    width: 100%;
    list-style: none;
    font-weight: 900;
    margin: auto 0px;
    justify-items: center;
    border-right: 1px solid white;
    text-align: center;
    padding: 6px 0px;
}

.list_mon {
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    overflow-x: unset;
}

.mon_hoc {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: yellow;
    list-style: none;
}

.box_right {
    width: 100%;
    margin-top: 30px;
    right: 0px;
}

.list_course {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: chocolate;
    height: 40%;
}

.view_heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #49BF67;
    height: 80px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row h3 {
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.col-xs-6 {
    height: 40px;
    width: 50%;
    padding: 0px 15px;
}

.mon_dk {
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    overflow-x: unset;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table_list thead tr th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 8px;
    border-bottom-width: 2px;
    text-align: left;
}

.table_list tbody tr td {
    border: 1px solid #ddd;
    line-height: 34px;
    padding: 0px 4px;
    border-bottom-width: 2px;
    font-size: 14px;
}

.table_list {
    width: 100%;
    max-width: 100%;
}

.panel_heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #191cc9;
    height: 40px;
}

.panel_heading h3 {
    font-size: 16px;
    color: #fff;
}
.submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.submit_input{
    background-color: var(--color-text-header);
    padding: 0px 10px;
    height: 35px;
    color: white;
    cursor: pointer;
}
.submit_input:hover{
    background-color: #49BF67;
}

.center{
    text-align: center;
}

#ck {
    width: 10px;
}

#stt {
    width: 10px;
}